.git
.venv
webapp/.venv
**/__pycache__
**/*.pyc
.idea
.vscode
.DS_Store
webapp/data
outputs/
out/
5 outputs/
junctions/
junctions_bed/
refs/
star_sj/
results/
lc2/
clusters/
clustering/
*.tsv
*.gz
*.bed
*.bam
*.fa
*.fasta
*.gtf
*.gct
*.log
*.pid
*.pdf
example_output/
